@font-face {
	font-family: marketdeco;

	src: url(../fonts/marketdeco.ttf);
}
@font-face {
	font-family: robotolight;

	src: url(../fonts/robotolight.ttf);
}
@font-face {
	font-family: robotomedium;

	src: url(../fonts/robotomedium.ttf);
}
body,
html {
	overflow: hidden;

	height: 100%;
	margin: 0;
}
.bg {
	position: relative;

	height: 100%;

	background: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/mitcoe-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
div.topnav {
	width: 85%;
	margin: 0 auto;

	text-align: center;
}
div.topnav a {
	font-family: robotolight;
	font-size: 17px;

	position: relative;
	z-index: 1;

	float: left;

	padding: 14px 16px;

	cursor: pointer;
	text-decoration: none;

	color: white;
}
div.topnav a.developedby {
	float: right;
}
div.pullUp a:before {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 2px;

	content: '';
	transition: all .3s;

	opacity: .3;
	background: #fff;
}
div.pullUp a:hover:before {
	height: 100%;
}
div.pullUp a.active:before {
	height: 100%;
}
.admincard,
.admincard-bck {
	position: absolute;
	top: 50%;
	left: 50%;

	overflow: auto;

	width: 90%;
	height: 80%;

	transform: translate(-50%, -50%);

	border-radius: 4px;
}
.admincard-bck {
	opacity: .7;
	border-bottom: 12px solid sienna;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4), 0 6px 20px 0 rgba(0, 0, 0, .35);
}
.form-style {
	font: 13px;
	font-family: robotolight;

	clear: left;

	max-width: 100%;
	margin: 0;
	padding: 10px;
	padding-top: 0;
}
.form-style li {
	display: block;

	margin: 10px 0 0 0;
	padding: 0;

	list-style: none;
}
.form-style label {
	font-weight: bold;

	display: block;

	margin: 0 0 3px 0;
	padding: 0;
}
.form-style input[type=text],
.form-style input[type=email],
select {
	font-family: robotolight;
	font-size: 18px;

	box-sizing: border-box;
	margin: 0;
	padding: 7px;

	transition: all .30s ease-in-out;

	color: #041b26;
	border: 0;
	border-bottom: 2px solid #7fbbd8;
	border-radius: 3px;
	outline: none;
	background-color: rgba(255, 255, 255, .5);

	background-blend-mode: soft-light;
}
.form-style input[type=text]:focus,
.form-style input[type=email]:focus,
.form-style select:focus {
	border: 0;
	border-bottom: 2px solid #01354f;
	box-shadow: 0 0 1px #01354f;
}
.form-style select {
	-moz-appearance: none;
	-webkit-appearance: none;
}
.dropdown {
	background-color: rgba(255, 255, 255, .5);
	background-image: url('../images/ic-down-arrow.png');
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: 10px;

	background-blend-mode: soft-light;
}
.form-style .field-divided {
	width: 32.5%;
}
.form-style .field-long {
	width: 100%;
}
.form-style .field-select {
	width: 100%;
}
.form-style .field-select-divided {
	width: 200px;
}
.form-style .field-textarea {
	height: 100px;
}
.form-style .required {
	color: red;
}
.dob {
	width: 100px;
}
.dropdown-button {
	background-image: url('../images/ic-down-arrow.png');
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: 15px;
}
.container-input-fields {
	padding: 30px;
}
.ctitle {
	font-family: marketdeco;
	font-size: 30px;

	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	padding-left: 20px;

	color: #02608e;
	border-left: 10px solid #02608e;
}
a.containertitle {
	font-family: marketdeco;
	font-size: 30px;

	float: left;
	clear: right;

	padding: 5px;
	padding-right: 30px;
	padding-left: 10px;

	color: #02608e;
	border-left: 10px solid #02608e;
}
.profile-image {
	float: left;

	width: 50px;
	height: 50px;
	margin-right: 10px;

	border: 3px solid #02608e;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
}
/* Style the tab */
div.tab {
	overflow: hidden;

	margin-top: 10px;

	border-bottom: 2px solid #02608e;
}
/* Style the buttons inside the tab */
div.tab button {
	font-size: 18px;

	float: left;

	padding: 9px 16px;

	cursor: pointer;
	transition: .3s;

	border: none;
	border-left: : 2px solid #02608e;
	outline: none;
	background-color: inherit;
}
/* Change background color of buttons on hover */
div.tab button:hover {
	background-color: white;
}
/* Create an active/current tablink class */
div.tab button.active {
	color: white;
	background-color: #02608e;
}
/* Style the tab content */
.tabcontent {
	display: none;

	padding: 10px;
}
.submit button {
	font-family: marketdeco;
	font-size: 20px;

	float: left;

	width: 150px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	padding: 5px 10px;

	cursor: pointer;
	transition: .3s ease;
	text-align: center;

	color: grey;
	border: 4px solid grey;
	border-radius: 20px;
	background-color: transparent;
}
.submit button:hover {
	color: #02608e;
	border: 4px solid #02608e;
	border-radius: 0;
	background-color: whitesmoke;
}
.login-error a {
	font-family: robotomedium;
	font-size: 15px;

	float: left;
	clear: left;

	color: red;
}
.result-found {
	font-family: robotomedium;
	font-size: 20px;

	display: block;
	float: left;
	clear: left;

	color: black;
}
table {
	width: 100%;

	border-collapse: collapse;
}
th,
td {
	padding: 8px;

	text-align: left;

	border-bottom: 1px solid  #02608e;
}
.update-form,
.delete-form,
.collect-form {
	clear: left;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 30px;
	padding-bottom: 20px;

	text-align: center;

	opacity: .8;
	color: white;
}
@media screen and (max-width: 1200px) {
	.admincard,
	.admincard-bck {
		overflow-y: auto;
	}
	.teacher-icon,
	.student-icon,
	.librarian-icon,
	.office-icon {
		background-position: 50% 50%;
		background-size: 70px;
	}
	h1 {
		font-size: 20px;

		float: left;

		margin: 0;
		padding-top: 10px;
		padding-bottom: 0;
		padding-left: 10px;
	}
	h1.small {
		font-size: 15px;

		clear: left;

		padding-top: 0;
	}
	h3 {
		font-size: 15px;

		position: absolute;

		margin-bottom: 0;
		padding: 20px;
	}
}
@media screen and(max-width: 400px) {
	.teacher-icon,
	.student-icon,
	.librarian-icon,
	.office-icon {
		background-size: 70px;
	}
}
