@font-face {
	font-family: marketdeco;
	src: url(../fonts/marketdeco.ttf);
}

@font-face {
	font-family: robotolight;
	src: url(../fonts/robotolight.ttf);
}

@font-face {
	font-family: robotomedium;
	src: url(../fonts/robotomedium.ttf);
}

body,
html {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.bg {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/mitcoe-bg.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

div.topnav {
	margin: 0 auto;
	width: 85%;
	text-align: center;
}

div.topnav a {
	color: white;
	text-decoration: none;
	font-size: 17px;
	float: left;
	padding: 14px 16px;
	position: relative;
	z-index: 1;
	cursor: pointer;
	font-family: robotolight;
}

div.topnav a.developedby {
	float: right;
}

div.pullUp a:before {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0px;
	bottom: 0px;
	content: '';
	background: #FFF;
	opacity: 0.3;
	transition: all 0.3s;
}

div.pullUp a:hover:before {
	height: 100%;
}

div.pullUp a.active:before {
	height: 100%;
}

.admincard,
.admincard-bck {
	height: 80%;
	width: 90%;
	border-radius: 4px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	overflow: auto;
}

.admincard-bck {
	background-color: white;
	border-bottom: 12px solid sienna;
	opacity: .7;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

.form-style {
	margin: 0;
	max-width: 100%;
	padding: 10px;
	padding-top: 0;
	font: 13px;
	font-family: robotolight;
}

.form-style li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

.form-style label {
	margin: 0 0 3px 0;
	padding: 0px;
	display: block;
	font-weight: bold;
}

.form-style input[type=text],
.form-style input[type=email],
select {
	font-size: 18px;
	font-family: robotolight;
	color: #041b26;
	background-color: rgba(255, 255, 255, 0.5);
	background-blend-mode: soft-light;
	box-sizing: border-box;
	padding: 7px;
	margin: 0px;
	transition: all 0.30s ease-in-out;
	outline: none;
	border: 0;
	border-radius: 3px;
	border-bottom: 2px solid #7fbbd8;
}

.form-style input[type=text]:focus,
.form-style input[type=email]:focus,
.form-style select:focus {
	box-shadow: 0 0 1px #01354f;
	border: 0;
	border-bottom: 2px solid #01354f;
}

.form-style select {
	-moz-appearance: none;
	-webkit-appearance: none;
}

.dropdown {
	background-image: url('../images/ic-down-arrow.png');
	background-size: 10px;
	background-position: 95% 50%;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
	background-blend-mode: soft-light;
}

.form-style .field-divided {
	width: 32.5%;
}

.form-style .field-long {
	width: 100%;
}

.form-style .field-select {
	width: 100%;
}

.form-style .field-select-divided {
	width: 200px;
}

.form-style .field-textarea {
	height: 100px;
}

.form-style .required {
	color: red;
}

.dob {
	width: 100px;
}

.dropdown-button{
	background-image: url('../images/ic-down-arrow.png');
	background-position: 95% 50%;
	background-size: 15px;
	background-repeat: no-repeat;
}
.container-input-fields {
	padding: 30px;
}

.ctitle {
	
	font-family: marketdeco;
	font-size: 30px;
	color: #02608e;
	padding: 5px;
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;

	border-left: 10px solid #02608e;
}
a.containertitle {
	float: left;
	font-family: marketdeco;
	font-size: 30px;
	color: #02608e;
	padding: 5px;
	padding-left: 10px;
	padding-right: 30px;
	clear: right;
	
	border-left: 10px solid #02608e;
}

.profile-image {
	margin-right: 10px;
	float: left;
	width: 50px;
	height: 50px;
	border: 3px solid #02608e;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
}



/* Style the tab */
div.tab {
	margin-top: 10px;
	overflow: hidden;
	border-bottom: 2px solid #02608e;
	
}

/* Style the buttons inside the tab */
div.tab button {
	font-size: 18px;
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 9px 16px;
	transition: 0.3s;
	border-left: : 2px solid #02608e;
	

}

/* Change background color of buttons on hover */
div.tab button:hover {
	background-color: white;
}

/* Create an active/current tablink class */
div.tab button.active {
	background-color: #02608e;
	color: white;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 10px;
} 



.submit button {
	text-align: center;
	float: left;
	font-family: marketdeco;
	font-size: 20px;
	border: 4px solid grey;
	background-color: transparent;
	color: grey;
	padding: 5px 10px;
	cursor: pointer;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	transition: .3s ease;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 20px;
}

.submit button:hover {
	border-radius: 0;
	border: 4px solid #02608e;
	color: #02608e;
	background-color: whitesmoke;
}

.login-error a{
	float: left;
	font-family: robotomedium;
	color: red;
	font-size: 15px;
	clear: left;

}
.result-found{
	font-family: robotomedium;
	font-size: 20px;
	float: left;
	display: block;
	color: black;
	clear: left;
}
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid  #02608e;
}

.footer {
	color: white;
	opacity: .8;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
	padding-bottom: 20px;
	text-align: center;
}

@media screen and (max-width: 1200px) {
	.admincard,
	.admincard-bck {
		overflow-y: auto;
	}
	.teacher-icon,
	.student-icon,
	.librarian-icon,
	.office-icon {
		background-size: 70px;
		background-position: 50% 50%;
	}
	h1 {
		font-size: 20px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 0;
		float: left;
		margin: 0;
	}
	h1.small {
		font-size: 15px;
		clear: left;
		padding-top: 0px;
	}
	h3 {
		font-size: 15px;
		position: absolute;
		padding: 20px;
		margin-bottom: 0;
	}
}

@media screen and(max-width: 400px) {
	.teacher-icon,
	.student-icon,
	.librarian-icon,
	.office-icon {
		background-size: 70px;
	}
}
