@font-face {
    font-family: marketdeco;

    src: url(../fonts/marketdeco.ttf);
}

@font-face {
    font-family: robotolight;

    src: url(../fonts/robotolight.ttf);
}

@font-face {
    font-family: robotomedium;

    src: url(../fonts/robotomedium.ttf);
}

body,
html {
    overflow: hidden;

    height: 100%;
    margin: 0;
}

.bg {
    position: relative;

    height: 100%;

    background: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/mitcoe-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.topnav {
    width: 85%;
    margin: 0 auto;

    text-align: center;
}

div.topnav a {
    font-family: robotolight;
    font-size: 17px;

    position: relative;
    z-index: 1;

    float: left;

    padding: 14px 16px;

    cursor: pointer;
    text-decoration: none;

    color: white;
}

div.topnav a.developedby {
    float: right;
}

div.pullUp a:before {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;

    content: '';
    transition: all .3s;

    opacity: .3;
    background: #fff;
}

div.pullUp a:hover:before {
    height: 100%;
}

div.pullUp a.active:before {
    height: 100%;
}

.admincard,
.admincard-bck {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 90%;
    height: 80%;

    transform: translate(-50%, -50%);

    border-radius: 4px;
}

.admincard-bck {
    opacity: .7;
    border-bottom: 12px solid sienna;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4), 0 6px 20px 0 rgba(0, 0, 0, .35);
}

input[type=text],
input[type=password] {
    font-family: robotomedium;
    font-size: 18px;

    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    padding-left: 48px;

    border: 1px solid #ccc;
    border: 0;
    border-bottom: 4px solid #01354f;
    border-radius: 4px;
    outline: none;
    outline: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 2px;
    background-size: 43px;
}

input[type=text] {
    background-image: url('../images/username.png');
}

input[type=password] {
    background-image: url('../images/key.png');
}

.container-tabs {
    position: relative;

    display: flex;

    height: 200px;
    margin-right: 30px;
    margin-left: 30px;
}

.tabs {
    display: flex;

    flex: 1;
}

.tabss {
    font-family: robotolight;

    position: relative;

    overflow: hidden;

    margin: 10px;

    transition: .2s ease;

    opacity: .8;
    border-radius: 5px;
    background-color: transparent;

    flex: 1;
}

.tabss:hover {
    opacity: 1;
    color: whitesmoke;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .4), 0 6px 20px 0 rgba(0, 0, 0, .35);
}

h1 {
    font-size: 28px;

    margin: 0;
    padding-top: 15px;
    padding-bottom: 0;
    padding-left: 15px;
}

h1.small {
    font-size: 20px;

    clear: left;

    padding-top: 0;
}

h3 {
    font-size: 20px;

    position: absolute;
    right: 0;
    bottom: 0;

    margin-bottom: 0;
    padding: 20px;
}

#tab-click a span {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.tab-text a {
    cursor: pointer;
    transition: .2s ease;
    text-decoration: none;

    color: black;
}

.tab-text a:hover {
    color: whitesmoke;
}

.blue {
    background-color: #006ba6;
}

.orange {
    background-color: #e9724c;
}

.red {
    background-color: #c5283d;
}

.green {
    background-color: #6fbe44;
}

.tt-icon,
.attend-icon,
.marks-icon,
.notes-icon,
.money-icon,
.fees-icon {
    transition: .2s ease;

    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: 110px;
}

.tt-icon {
    background-image: url('../images/ic-tt-b.png');
}

.attend-icon {
    background-image: url('../images/ic-attendance-b.png');
}

.marks-icon {
    background-image: url('../images/ic-marks-b.png');
}

.notes-icon {
    background-image: url('../images/ic-notes-b.png');
}

.tt-icon:hover {
    background-image: url('../images/ic-tt-a.png');
}

.attend-icon:hover {
    background-image: url('../images/ic-attendance-a.png');
}

.marks-icon:hover {
    background-image: url('../images/ic-marks-a.png');
}

.notes-icon:hover {
    background-image: url('../images/ic-notes-a.png');
}

.money-icon {
    background-image: url('../images/ic-money-b.png');
}
.money-icon:hover {
    background-image: url('../images/ic-money-a.png');
}
.fees-icon {
    background-image: url('../images/ic-fees-b.png');
}
.fees-icon:hover {
    background-image: url('../images/ic-fees-a.png');
}

.container-input-fields {
    padding: 30px;
}

.containertitle {
    font-family: marketdeco;
    font-size: 45px;

    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 20px;

    color: #02608e;
    border-left: 10px solid #02608e;
}
.profile-image {
    float: left;

    width: 50px;
    height: 50px;
    margin-right: 10px;

    border: 3px solid #02608e;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
}

button {
    font-family: marketdeco;
    font-size: 25px;

    float: right;

    width: 100%;
    margin: 8px 0;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px;

    cursor: pointer;
    transition: .3s ease;
    text-align: center;

    color: grey;
    border: 4px solid grey;
    background-color: transparent;
}

button:hover {
    color: #78a538;
    border: 4px solid #78a538;
    background-color: whitesmoke;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 30px;
    padding-bottom: 20px;

    text-align: center;

    opacity: .8;
    color: white;
}

@media screen and (max-width: 1200px) {
    .attend-icon,
    .tt-icon,
    .marks-icon,
    .notes-icon,
    .money-icon,
    .fees-icon {
        background-position: 50% 80%;
        background-size: 70px;
    }
    h1 {
        font-size: 20px;

        float: left;

        margin: 0;
        padding-top: 10px;
        padding-bottom: 0;
        padding-left: 10px;
    }
    h1.small {
        font-size: 15px;

        clear: left;

        padding-top: 0;
    }
    h3 {
        font-size: 15px;

        position: absolute;

        margin-bottom: 0;
        padding: 20px;
    }
}

@media screen and(max-width: 400px) {
    .attend-icon,
    .tt-icon,
    .marks-icon,
    .notes-icon,
    .money-icon,
    .fees-icon {
        background-size: 70px;
    }
}
